table.grid {
	border-collapse: collapse;
}

table.grid td,table.grid th {
	border: 1px solid black;
}

p.message {
	color: blue;
}

span.error {
	color: red;
}

ul li {
	display: inline;
	margin: 30px;
	font-size: large;
}

.suchfeld {
	min-width: 120px;
	margin: 10px;
}